* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar component */
.navbar {
    background-color: #21222a;
    display: flex;
    align-items: center;
    padding: 16px 32px;
}

.logo {
    height: auto;
    margin-right: 8px;
    width: 30px;
}

.site-title {
    color: #61dafb;
    font-size: 22.25px;
    letter-spacing: -0.05em;
    margin-right: auto;
}

.site-subtitle {
    color: #deebf8;
    font-size: 16px;
    font-weight: 600;
}

/* Main component */
.main {
    background-color: #282d35;
    color: #fff;
    padding: 56px 28px;
}

.main__heading {
    font-size: 39px;
    letter-spacing: -0.05em;
    margin: 0 0 40px;
}

.main__facts > li {
    font-size: 16px;
    line-height: 20.36px;
    padding-block: 10px;
}

.main__facts > li::marker {
    color: #61dafb;
    font-size: 1.4rem;
}
